{% extends 'base.html.twig' %}

{% block title %}{{text}}{% endblock %}

{% block body %}
  <p>
    <a href="click">{{text}}</a>
  </p>
{% endblock %}

{#
  or straight without handleClick controller: <a href="?action=click">{{text}}</a>
#}
